@model WelfareSurveySystem.Domain.Entities.RealEstate

@{
    ViewData["Title"] = "RealEstateEdit";
}

<h1>RealEstateEdit</h1>

<h4>RealEstate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RealEstateEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RealEstateId" class="control-label"></label>
                <input asp-for="RealEstateId" class="form-control" />
                <span asp-validation-for="RealEstateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealEstateTypeId" class="control-label"></label>
                <select asp-for="RealEstateTypeId" class="form-select" asp-items="ViewBag.RealEstateTypes">
                    <option>Select Real Estate Type</option>
                </select>
                <span asp-validation-for="RealEstateTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnOrRent" class="control-label"></label>
                <input asp-for="OwnOrRent" class="form-control" />
                <span asp-validation-for="OwnOrRent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealEstateNumber" class="control-label"></label>
                <input asp-for="RealEstateNumber" class="form-control" />
                <span asp-validation-for="RealEstateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealEstateDescription" class="control-label"></label>
                <input asp-for="RealEstateDescription" class="form-control" />
                <span asp-validation-for="RealEstateDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control" readonly />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
